tbody::-webkit-scrollbar {
  width: 8px;
  @apply bg-gray-100;
}

/* Handle */
tbody::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded;
}

/* Handle on hover */
tbody::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
tr:nth-child(even) {
  @apply bg-gray-50;
}

table thead,
table tbody tr {
  @apply table table-fixed w-full;
}

.bottomRevealEffect {
  position: relative;
  animation-name: animateBottom;
  animation-duration: 0.3s;
}

.fadeInEffect {
  animation-name: animateFadeIn;
  animation-duration: 0.25s;
}

.spinner {
  animation: spin infinite 0.5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animateBottom {
  0% {
    top: 300px;
    opacity: 0;
  }
  80% {
    top: -20px;
    opacity: 1;
  }
  100% {
    top: 0;
  }
}
@keyframes animateFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
